.accordion-item {
    background: transparent;
    margin: 30px 0 0;
    border:0;
}
.accordion-item .accordion-button {
    color: var(--black-color);
    background: transparent;
    font-weight: 700;
    box-shadow: none;
    font-size: 20px;
    padding:10px 0;
    border: 0;
}
.accordion-body {
    padding:0 20px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

a.ct_ext_link {
    color: #000;
}

@media (max-width:767px) {
    .accordion-item {
        margin:20px 0 0;
    }
    .accordion-body {
        padding:0;
    }
}